
.title{
    color: #004369;
    font-size: 50px;
   }

  .logInColor{
    color: #2693FF;
  }
     

  .main-container {
    margin-top: 100px;
    display: flex;
    flex-direction: row-reverse; /* Reversed order of elements */
    justify-content: center;
    align-items: center;
  }

  .image-container {
    text-align: center;
    width: 100%;
    max-width: 900px;
    height: 676px;
    border: 3px solid #4f4f4f;
    border-right: none;
    background-image: url('./assets/background2.png');
    background-repeat: no-repeat; /* Prevent background image from repeating */
    background-size: cover; /* Resize the background to cover the container */
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
  }
  


.image-carousel {
  margin-top: 30%; /* Adjust this value as needed */
  margin-left: 10%;
  height: 300px;
  width: 400px;
  overflow: hidden; /* Hide overflowing carousel content */
 
}

.img-size{
  width: 100%;
  max-width: 400px;
  height: 300px;
}




.login-box form{
    width: 100%;
    max-width: 400px;
    padding-left: 100px;
    justify-content: center;
    text-align: center;
    font-family: 'Barlow', sans-serif;
 }




.carousel-inner .carousel-item {
  transform: translateX(100%); /* Change this value for the desired direction */
}

.carousel-inner .carousel-item.active,
.carousel-inner .carousel-item-next,
.carousel-inner .carousel-item-prev {
  transform: translateX(0); /* Reset the active, next, and previous slide positions */
}





 
 .login-box {
     border: 3px solid #4f4f4f;
     border-left: none;
     width: 500px;
     height: 676px;
     margin-left: -190px;
     padding: 120px 10px;
  
     border-top-right-radius: 10px;
     border-bottom-right-radius: 10px;
   }
   
   .login-box .user-box {
     position: relative;
   }
   
   .login-box .user-box input {
     width: 100%;
 
     padding: 10px 0;
     font-size: 16px;
     color: #004369;
     margin-bottom: 30px;
     border: none;
     border-bottom: 1px solid #004369;
     outline: none;
     background: transparent;
   }
   
   .login-box .user-box label {
     position: absolute;
     top: 0;
     left: 0;
     padding: 10px 0;
     font-size: 16px;
     color: #004369;
     pointer-events: none;
     transition: .5s;
   }
   
   .login-box .user-box input:focus ~ label,
   .login-box .user-box input:valid ~ label {
     top: -20px;
     left: 0;
     color:#004369;
     font-size: 12px;
   }
   
 
   
   .buttonDiv{
     display: flex;
     justify-content: center;
     align-items: center;
     flex-direction: column;
     gap: 1rem;
   }
 
   .button {
     display: inline-block;
     border: 1px solid #ffffff;
     border-radius: 30px;
     transition: all 0.2s ease-in;
     position: relative;
     overflow: hidden;
     font-size: 19px;
     color: rgb(255, 255, 255);
     background-color: #004369;
     z-index: 1;
     width: 100%;
     max-width: 200px;
     height: 40px;
    }
    
    .button:before {
     content: "";
     position: absolute;
     left: 50%;
     transform: translateX(-50%) scaleY(1) scaleX(1.25);
     top: 100%;
     width: 140%;
     height: 180%;
     background-color: rgba(255, 255, 255, 0.05);
     border-radius: 50%;
     display: block;
     transition: all 0.5s 0.1s cubic-bezier(0.55, 0, 0.1, 1);
     z-index: -1;
    }
    
    .button:after {
     content: "";
     position: absolute;
     left: 55%;
     transform: translateX(-50%) scaleY(1) scaleX(1.45);
     top: 180%;
     width: 160%;
     height: 190%;
     background-color: #004369;
     border-radius: 50%;
     display: block;
     transition: all 0.5s 0.1s cubic-bezier(0.55, 0, 0.1, 1);
     z-index: -1;
    }
    
    .button:hover {
     color: #004369;
     border: 1px solid #004369;
    }
    
    .button:hover:before {
     top: -35%;
     background-color: #004369;
     transform: translateX(-50%) scaleY(1.3) scaleX(0.8);
    }
    
    .button:hover:after {
     top: -45%;
     background-color: #ffffff;
     color: #004369;
     transform: translateX(-50%) scaleY(1.3) scaleX(0.8);
    }
 
    .main-header {
        background: linear-gradient(to left, #005994, #ffffff);
        display: flex; /* To enable flex layout for positioning */
        height: 50px;
        align-items: center; /* Vertically center the logo and content */
        padding: 10px; /* Add padding to provide space around the logo */
      }
      
      .logo {
        width: 100px; /* Adjust the width as needed */
        height: auto; /* Maintain aspect ratio */
        margin-right: 10px; /* Add some space between the logo and content */
      }

      .globe {
        width: 40px; /* Initial width */
        height: 40px; /* Maintain aspect ratio */
        resize: both; /* Enable resizing */
        overflow: hidden;
        position: absolute;
        margin-right: 150px;
        margin-top: 5px;
        top: 0;
        right: 0;
    }
    
    .title-head {
        font-size: 18px; /* Adjust as needed */
        padding-top: 5px; /* Adjust as needed */
        display: block;
        position: absolute;
        top: 0;
        color: #ffffff;
        font-weight: bold;
        font-family: 'Barlow', sans-serif;
        margin-top: 5px;
        right: 60px; /* Space between globe and title */
    }.globe-button {
        background: none;
        border: none;
        cursor: pointer;
        display: flex;
        align-items: center;
        margin: 0;
        padding: 0;
        transition: background-color 0.3s, color 0.3s; /* Add transition for smooth hover effect */
    }
    
    .globe-button:hover .globe {
        transform: scale(1.1); /* Increase the size of the globe on hover */
    }
    
    .title-head {
        font-size: 18px;
        color: white;
        transition: color 0.3s; /* Add transition for smooth hover effect */
    }
    
    .globe-button:hover .title-head {
        color: #333; /* Change the text color on hover */
    }