<header class="main-header">
    <img src="../assets/logo.png" class="logo" alt="Logo">
    <button class="globe-button">
        <img src="../assets/globe.png" class="globe" alt="Globe">
        <span class="title-head">Language</span>
    </button>
</header>

  
<div class="main-container">
    <div class="login-box"> 
        <form>
            <h1 class="title"><b>LOG</b><b class="logInColor">IN</b></h1><br><br><br>
          <div class="user-box">
            <input type="text" name="" required="">
            <label>Your Company</label>
          </div>
          <div class="user-box">
            <input type="text" name="" required="">
            <label>Your User ID</label>
          </div>
          <div class="user-box">
            <input type="password" name="" required="">
            <label>Your Password</label>
          </div>
          
          <div class="buttonDiv">
            <button class="button">Login</button>
            <a href="www.google.com" target="_blank"><u>Forgot Password?</u></a>
          </div>
          
          
          </form>
    </div>

    <div class="image-container"></div>
</div>